---
- name: Create instances
  hosts: localhost
  connection: local
  gather_facts: no
  vars:
   service_account_email: rastamalik@docker-193613.iam.gserviceaccount.com
   credentials_file: docker.json
   project_id: docker-193613
   machine_type: n1-standard-1
   image_family: ubuntu-1604-lts
   disk_size: 200
  tasks:
  - name: Launche controller
    gce:
         instance_names: controller-0,controller-1,controller-2
         machine_type: "{{ machine_type }}"
         image_family: "{{ image_family }}"
         disk_size: "{{ disk_size }}"
         ip_forward: True
         zone: europe-west1-b
         network: kubernetes-the-hard-way
         subnetwork: kubernetes

         metadata: '{"sshKeys":"ssh-rsaJwm7v5l7E3G1GNWwvoY9ykYx9uwIPrwuadgcKrdqWb6Ruog/PXV5yDQ/LU3iiA6pr7LYcgw2y8XNENQnGC255ynVv8yHeu6I3j7JrLnm5lpYl5FYAh1yWhdqUDbeyjOi5xTvaqpt2H20mRIT7rvkLNSCx/wET9/O7xEVDL0EtaysnzjV8wqUBCRML3/zSrg+lkEqfbNg7Vn3cyghAaZ0Wpuenco+yJcGzeNoudBlDNkCFUKJrWbVUeqPDHFln4e1CK/MIZ6ZARyEfSVhJTS4FdiEQx4bZ mozhaev@elk-yar-krista.ru"}'

         metadata: '{"sshKeys":"ssh-rsa "}'


         service_account_permissions:
                     - compute-rw
                     - storage-ro
                     - service-management
                     - service-control
                     - logging-write
                     - monitoring
         tags:
            - kubernetes-the-hard-way
            - contoller
         service_account_email: "{{ service_account_email }}"
         credentials_file: "{{ credentials_file }}"
         project_id: "{{ project_id }}"

  - name: Launche worker
    gce:
         instance_names: worker-0,worker-1,worker-2
         machine_type: "{{ machine_type }}"
         image_family: "{{ image_family }}"
         disk_size: "{{ disk_size }}"
         ip_forward: True
         zone: europe-west1-b
         network: kubernetes-the-hard-way
         subnetwork: kubernetes


         service_account_permissions:
                     - compute-rw
                     - storage-ro
                     - service-management
                     - service-control
                     - logging-write
                     - monitoring
         tags:
            - kubernetes-the-hard-way
            - worker
         service_account_email: "{{ service_account_email }}"
         credentials_file: "{{ credentials_file }}"
         project_id: "{{ project_id }}"
